MONGO_URI=mongodb+srv://<username>:<password>@eventman.1lp3rjx.mongodb.net/?appName=eventman
JWT_SECRET=<secret-string>
PORT=5001

MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=587
MAILTRAP_USER=<Mailtrap username>
MAILTRAP_PASS=<Mailtrap password>